<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1> Date.today.strftime("%A, %B %d, %Y")</h1>
        <h2> The date is Monday, November 19, 2018 </h2>
      </<body>

</html>
