<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Goodbye for now, but not forever, I hope</title>
  </head>
  <body>
    <% name = "Joe" %>
  <h1> <%= "Goodbye #{name}" %> </h1>
  </body>
</html>
